<%- include('../partials/head') %>
    <title>
        <%= book.title %>
    </title>
</head>

<body class="d-flex flex-column vh-100">
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <%- include('../partials/details') %> 
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>